body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}

.container {
    flex: 1; /* Push the footer to the bottom if content is less */
    padding-bottom: 2rem; /* Add some padding at the bottom to avoid content touching the footer */
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 1.5rem 0;
    width: 100%;
    text-align: center;
    margin-top: auto; /* Ensure the footer stays at the bottom */
}
