@model IEnumerable<ProtoSCADA.Entities.Entities.User>

@{
    ViewData["Title"] = "User List";
}

<div class="mt-5 container">
    <h2 class="mb-4 text-success text-center">User List</h2>
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>User Details</h4>
        </div>
        <div class="card-body">
            <table class="table-striped table">
                <thead>
                    <tr>
                        <th scope="col">User ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                            <tr>
                                <td>@user.ID</td>
                                <td>@user.Name</td>
                                <td>@user.Email</td>
                                <td>@user.CreatedAt</td>
                                <td>
                                    <a href="/User/Details/@user.ID" class="btn btn-info btn-sm">Details</a>
                                    <a href="/User/Edit/@user.ID" class="btn btn-warning btn-sm">Edit</a>
                                    <a href="/User/Delete/@user.ID" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="mt-3">
        <a href="/User/Create" class="btn btn-success">Add New User</a>
    </div>
</div>
